*{box-sizing: border-box;}
        **::before, *::after{box-sizing: border-box;}
        #buttons{
            position: fixed;
            right:0;
            top: 0;
            z-index: 15;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-right: 10px;
        }
        #buttons>button{
            margin-bottom: 10px;
            padding: 4px 8px;
        }
        #demo2{
            display: none;
        }
        #demo{
            position: fixed;
            top: 0;
            left:0;
            width: 100%;
            height: 40vh;
            border: 1px solid #ffe600;
            overflow-y: auto;
        }
        #demo::-webkit-scrollbar {
            display: none;
        }
        #html{
            position: fixed;
            bottom: 0;
            left:0;
            width: 100%;
            height: 60vh;
        }
        .cover{
        position: relative;
        width: 162px;
        height: 500px;
        z-index: 2;
        background: transparent;
        }
        .face >img{
    position: absolute;
        }
        .skin{
            position: relative;
            min-height: 60vh;
        }
        @keyframes wave {
            0%{
                 transform: rotate(0deg);
            }
            25%{
                transform: rotate(15deg);
            }
            50%{
                transform: rotate(0deg);
            }
            70%{
                transform: rotate(-15deg);
            }
            100%{
                transform: rotate(0deg);
            }
        }
        .nose{
            width: 0px;
            height: 0px;
            position: absolute;
            left: 50%;
            top: 105px;
            margin-left: -10px; 
            z-index: 10; 
        }
        .mouth{
            width: 200px;
            height: 200px;
            position: absolute;
            left: 50%;
            top: 130px;
            margin-left: -100px;
        }
        .mouth .up{
            position: relative;
            top: -32px;
            z-index: 5;
        }
        .mouth .down{
            height: 180px;
            width: 100%;
            top: 6px;
            position: absolute;
            overflow: hidden;
        }
        @media (max-width: 500px) {
            .face.right >img{
                transform: translateX(-53px);
            }
        }
        .face.left >img{
            transform: rotateY(180deg);
            transform-origin: 0 0;
        }
        @keyframes move {
            0%{
                 transform: rotate(0deg);
            }
            25%{
                transform: rotate(-130deg);
            }
            50%{
                transform: rotate(0deg);
            }
            70%{
                transform: rotate(130deg);
            }
            100%{
                transform: rotate(0deg);
            }
        }
        .spot{
            position: absolute;
            left:50%;
            top: 29px;
            width: 7px;
            height: 7px;
            z-index: 4;
            margin-left: -6px;
            transform: rotate(60deg);
        }